<!--Desenvolvido por: LUIZ GUSTAVO VIEIRA DA SILVA-->
<!--LinkedIn: https://www.linkedin.com/in/luiz-gustavo-dev-->
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="imagem/png" href="https://i.ibb.co/Cwbt6V2/LOGO-2.png" />
    <meta charset="utf-8" />
    <title>Softenter</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
    <style>
        #app {
            background-color: lightblue;
        }
    </style>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://unpkg.com/axios@1.0.0/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/v-mask/dist/v-mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js" integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs" crossorigin="anonymous"></script>
    <script src="globals.js"></script>
    <div id="app">
        <v-app id="inspire">
            <v-snackbar timeout="2000"
                        centered
                        elevation="24"
                        vertical
                        v-model="snackbar"
                        :color="cor_aviso">
                <v-icon left>{{ icon }}</v-icon>
                {{ text_aviso }}
            </v-snackbar>

            <v-dialog v-model="dialog_login"
                      persistent
                      overlay-color="primary"
                      overlay-opacity="1"
                      width="350">

                <v-card height="390">
                    <v-card-title class="headline">
                        <v-img height="75"
                               max-width="275"
                               src="https://i.ibb.co/Jy4k4q8/logo-3.png">
                        </v-img>

                    </v-card-title>
                    <v-divider></v-divider>

                    <v-card flat
                            height="125"
                            class="mx-auto my-12"
                            width="320">

                        <v-row no-gutters dense>
                            <v-col cols="12" sm="12">
                                <v-text-field v-model="usuario" label="Usuário" outlined></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row no-gutters dense>
                            <v-col cols="12" sm="12">

                                <v-text-field v-model="password"
                                              :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                                              :type="show1 ? 'text' : 'password'"
                                              name="input-10-1"
                                              label="Senha"
                                              outlined
                                              @click:append="show1 = !show1"></v-text-field>
                            </v-col>
                        </v-row>

                    </v-card>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary"
                               block
                               large
                               @click="login()">
                            ENTRAR
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>

        </v-app>
    </div>

    <script>
        Vue.use(VueMask.VueMaskPlugin);

        document.addEventListener('keydown', function (event) {
            if (event.keyCode !== 13) return;
            app.__vue__.login()
        }),

            new Vue({
                el: '#app',
                vuetify: new Vuetify(),
                data: vm => ({
                    url: 'https://riodoceatacado.com',
                    show1: false,
                    usuario: '',
                    password: '',
                    dialog_login: true,
                    snackbar: false,
                    text_aviso: '',
                    cor_aviso: "success",
                    icon: 'mdi-check-circle',
                }),

                computed: {

                },

                watch: {

                },

                created() {
                    //this.initialize()

                },

                methods: {

                    async login() {
                        listar = await axios.get(this.url + '/api/funcionarios/listar/funcionarios_usu?Usuario=' + this.usuario + '&Senha=' + this.password)

                        if (listar.data.length > 0) {
                            sessionStorage.login_ativo = true
                            sessionStorage.id_usulogado = listar.data[0].id
                            sessionStorage.id_empresalogado = listar.data[0].fk_empresa
                            sessionStorage.usuadm = listar.data[0].usu_adm
                            sessionStorage.usuario_nome = listar.data[0].usuario

                            listar_infoemp = await axios.get(this.url + '/api/empresa_config/listar/empresa_config?Id_empresa=' + sessionStorage.id_empresalogado)

                            sessionStorage.nome_empresa = listar_infoemp.data[0].nome
                            sessionStorage.data_licenca = listar_infoemp.data[0].data_licenca
                            //sessionStorage.agenda_contro_estoq = listar_infoemp.data[0].agenda_contro_estoq
                            sessionStorage.telefone = listar_infoemp.data[0].telefone
                            sessionStorage.endereco = listar_infoemp.data[0].endereco
                            sessionStorage.cnpj = listar_infoemp.data[0].cnpj

                            if (new Date() > new Date(sessionStorage.data_licenca)) {
                                sessionStorage.login_ativo = false
                                this.snackbar = true,
                                    this.text_aviso = 'Sua licença venceu, contate o suporte para reativar'
                                this.cor_aviso = "red"
                                this.icon = "mdi-alert-circle-outline"
                            } else {
                                sessionStorage.login_ativo = true
                                window.location.href = this.url + "/agenda.html";
                            }

                        } else {
                            this.snackbar = true,
                                this.text_aviso = 'Usuário ou senha incorreto !'
                            this.cor_aviso = "red"
                            this.icon = "mdi-alert-circle-outline"
                        }
                    },

                },
            })
    </script>


</body>
</html>
